<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lucky Anchor Alehouse - Beer Menu</title>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.min.js"></script>
</head>
<body>
  <div class="container menu">
    <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 0px;">
      <div style="flex: 1; text-align: center; transform: scale(0.5);">
        <pre style="color: #fff; font-size: 0.8vw;">
_
(_)
|
()---|---()
|
__     |     __
|\     /^\     /|
'..-'   '-..'
`-._ _.-`
:
        </pre>
      </div>
      <h1 style="flex: 2; text-align: center; margin: 0;">Lucky Anchor Alehouse<span class="cursor"></span></h1>
      <div style="flex: 1; text-align: center; transform: scale(0.5);">
        <pre style="color: #fff; font-size: 0.8vw;">
_
(_)
|
()---|---()
|
__     |     __
|\     /^\     /|
'..-'   '-..'
`-._ _.-`
:
        </pre>
      </div>
    </div>
	<div id="root" style="display: flex; flex-direction: column; justify-content: top; align-items: center; width: 100%; height: 80%;">
	  <div style="width: 100%;">
		<h2>Draft Beers</h2>
		<table>
		  <thead>
			<tr>
			  <th>Tap</th>
			  <th>Brewery</th>
			  <th>Beer</th>
			  <th>Style</th>
			  <th>ABV</th>
			  <th>Price (1/2)</th>
			  <th>Price (2/3)</th>
			  <th>Price (Pint)</th>
			</tr>
		  </thead>
		  <tbody>
			{% for beer in beers if beer[8] == 'Draft' %}
			<tr>
			  <td>{{ loop.index }}</td>
			  <td>{{ beer[1] }}</td>
			  <td>{{ beer[2] }}</td>
			  <td>{{ beer[3] }}</td>
			  <td>{{ beer[4] }}</td>
			  <td>{{ beer[5] }}</td>
			  <td>{{ beer[6] }}</td>
			  <td>{{ beer[7] }}</td>
			</tr>
			{% endfor %}
		  </tbody>
		</table>
	  </div>
	  <div style="width: 100%;">
		<h2>Cask Beers</h2>
		<table>
		  <thead>
			<tr>
			  <th>Tap</th>
			  <th>Brewery</th>
			  <th>Beer</th>
			  <th>Style</th>
			  <th>ABV</th>
			  <th>Price (1/2)</th>
			  <th>Price (2/3)</th>
			  <th>Price (Pint)</th>
			</tr>
		  </thead>
		  <tbody>
			{% for beer in beers if beer[8] == 'Cask' %}
			<tr>
			  <td>{{ loop.index }}</td>
			  <td>{{ beer[1] }}</td>
			  <td>{{ beer[2] }}</td>
			  <td>{{ beer[3] }}</td>
			  <td>{{ beer[4] }}</td>
			  <td>{{ beer[5] }}</td>
			  <td>{{ beer[6] }}</td>
			  <td>{{ beer[7] }}</td>
			</tr>
			{% endfor %}
		  </tbody>
		</table>
	  </div>
	</div>
  </div>
  <canvas id="noise"></canvas>
  <div class="horizontal-line"></div>
  <script>
    var socket = io();
    socket.on('update', function(data) {
      if (data.message) {
        const updateBox = document.getElementById('update-box');
        updateBox.innerHTML = "";
        typeWriter(updateBox, data.message);
      }
    });
  </script>
  <script>
    (function() {
      var canvas = document.getElementById('noise'),
          ctx = canvas.getContext('2d'),
          width, height, noiseData,
          lineOffset = 0;
      
      function resize() {
        width = canvas.width = window.innerWidth;
        height = canvas.height = window.innerHeight;
        noiseData = ctx.createImageData(width, height);
      }
      window.addEventListener('resize', resize);
      resize();
      
      function generateNoise() {
        var buffer = new Uint32Array(noiseData.data.buffer);
        for (var i = 0, len = buffer.length; i < len; i++) {
          var gray = Math.random() * 255 | 0;
          buffer[i] = (255 << 24) | (gray << 16) | (gray << 8) | gray;
        }
        ctx.putImageData(noiseData, 0, 0);
      }
      
      function drawFuzzyLines() {
        ctx.fillStyle = "rgba(255, 255, 255, 0.1)";
        ctx.fillRect(0, lineOffset, width, 2);
        lineOffset = (lineOffset + 1) % height;
      }
      
      function loop() {
        generateNoise();
        drawFuzzyLines();
        requestAnimationFrame(loop);
      }
      loop();
    })();
  </script>
</body>
</html>
